{% extends 'portfolio/base.html' %}

{% block content %}

{% load static %}

<style>
    body {
        font-family: 'Rubik', sans-serif;
    }

    #banner_div {
        background-image: url("{% static 'portfolio/emoji-ffffff-1920x1080.png' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100% 100%;
    }

    #banner_image {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
    }
</style>

<div class="text-center" id="banner_div">
    <br>
    <img src="{% static 'portfolio/IMG-20220504-WA0006~3.jpg' %}" class="rounded mx-auto d-block" alt="..."
        id="banner_image">
    <br>
    <br>
</div>

<br>
<br>

<div class="container">
    <h1>My Projects</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for project in projects %}
        <div class="col">
            <div class="card">
                <img src="{{ project.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    {% if project.url %}
                    <a href="{{ project.url }}" class="btn btn-outline-dark" target="_blank">View Project</a>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}